body
{
    margin: 0;
    color: white;
    background-color: #132254;
    font-family: 'Poppins', sans-serif;
}

.section
{
    padding: 3rem 0 2rem;
}

.top-header
{
    width: 100%;
    height: 6.25rem;
    background-color: #131F4A;
}

.logo
{
    width: 100px;
    height: 100px;
}

.main-header
{
    width: 100%;
    display: grid;
    min-height: 440px;
    align-items: center;
    justify-content: center;
    background-color: #272CA3;
}

.main-header-text
{
    text-align: center;
}

.main-heading
{
    color: white;
    font-size: 3rem;
    font-family: 'Diplomata SC', cursive;
}

.definition
{
    font-size: 1rem;
}

.intro
{
    text-align: center;
    align-items: center;
    padding: 2.5rem 6.5rem 0 6.5rem;
}

.intro-title
{
    font-size: 2.5rem;
}

.intro-explaintion
{
    width: 60%;
    margin: auto;
    padding-bottom: 1.5rem;
}

.nav-bar
{
    background-color: #131F4A;
}

.articles
{
    width: 100%;
    gap: 1.5rem;
    margin: auto;
    display: grid;
    max-width: 1068px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
}

.article
{
    padding: 1rem;
    /*transition: 0.5s;*/
    border-radius: 0.5rem;
    border: 2px solid #2F96F4;
}

.article:hover
{
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 1px 1px 15px 10px #2F96F4;
}

.article::after
{
    transition: 0.5s;
}

.article-image
{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.catagory
{
    font-size: 1rem;
    color: #2F96F4;
    text-transform: uppercase;
}

.article-title
{
    overflow: hidden;
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

a:link, a:visited
{
    color: white;
    text-decoration: none;
}
    
a:link:active, a:visited:active
{
    color: white;
}

.article-summary
{
    font-size: 1rem;
    margin: 5px 0 10px;
    line-height: 1.5rem;
}

footer
{
    margin: 3rem 0 0;
    padding: 0.5rem;
    text-align: center;
    background-color: #131F4A;
}


/*Background Animation*/

.area
{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
}

.circles
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 27.5rem;
    overflow: hidden;
    margin-top: 6.25rem;
}

.circles li
{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1)
{
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2)
{
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3)
{
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4)
{
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5)
{
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6)
{
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7)
{
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8)
{
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9)
{
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10)
{
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate
{

    0%
    {
        opacity: 1;
        border-radius: 0;
        transform: translateY(0) rotate(0deg);
    }

    100%
    {
        opacity: 0;
        border-radius: 50%;
        transform: translateY(-1000px) rotate(720deg);
    }
}

/* Navbar Animation */

.nav-bar
{
    padding: 0;
    width: 100%;
    display: block;
    margin: 3rem auto;
    text-align: center;
    position: relative;
}

.nav-bar:after
{
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 100%;
    opacity: 0.5;
    position: absolute;
}

.nav-item
{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
}

.active
{
    color: white !important;
    background-color: #2F96F4;
}

.filter
{
    z-index: 2;
    padding: 25px;
    display: block;
    color: #2F96F4;
    position: relative;
    letter-spacing: 0.2em;
    text-decoration: none;
    transition: color 200ms;
    text-transform: uppercase;
    transform-style: preserve-3d;
}

.filter:hover
{
    color: white;
    cursor: pointer;
}

.filter:after
{
    top: 29%;
    left: 18px;
    z-index: -1;
    display: block;
    padding: 5px 7px;
    text-shadow: none;
    position: absolute;
    color: transparent;
    transform-origin: 50% 0%;
    content: attr(data-title);
    transition: all 200ms ease;
    background-color: #2F96F4;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: translate3d(0px, 105%, 0px) rotateX(-112deg);
}

.filter:hover:after
{
    transform: rotateX(0deg) translateZ(0px);
}

/* Article Styling */

.article-header
{
    width: 100%;
    height: 440px;
    background-color: #272CA3;
}

.container
{
    width: 100%;
    margin: auto;
    max-width: 800px;
}

.header-content
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-button
{
    z-index: 3;
    font-size: 1rem;
    transition: 0.5s;
    margin-top: 2rem;
}

.home-button:hover
{
    color: #2F96F4;
    transform: scale(1.5);
}

.post-heading
{
    width: 100%;
    margin-top: 0;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.header-image
{
    z-index: 3;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.article-infomation
{
    margin-top: 25rem !important;
}

.paragraph
{
    margin: 1rem 0;
    font-size: 1.1rem;
    line-height: 1.7rem;
    text-align: justify;
}

.top
{
    margin-top: 2rem;
    text-align: center;
}

@media (max-width: 1150px)
{
    .main-section
    {
        margin: 0 3rem;
    }

}

@media (max-width: 900px)
{
    .main-heading
    {
        font-size: 2rem;
    }

    .nav-bar
    {
        width: 80%;
    }
    
    .header-image
    {
        width: 80%;
        height: 300px;
    }

    .article-infomation
    {
        margin-top: 10rem !important;
    }

    .post-heading
    {
        width: 100%;
        font-size: 2.5rem;
    }

    .paragraph
    {
        width: 80%;
        text-align: left;
        margin: 1rem auto;
    }
}

@media (max-width: 600px)
{
    .intro
    {
        padding: 2.5rem 0 0 0;
    }

    .nav-bar
    {
        width: 200px;
    }
}

@media (max-width: 500px)
{
    .main-heading
    {
        font-size: 1.5rem;
    }
}